/* Definição das variáveis para o esquema de cores */
:root {
    --background-dark: #0e121be5;
    --text-light: #ffffff;
    --accent-color: #007bff;
}

/* Estilo global do corpo do documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-dark);
    color: var(--text-light);
}

/* Estilo do cabeçalho */
header {
    background-color: #090e18d2;
    color: white;
    text-align: center;
    padding: 1em;
}

/* Estilo das seções e área social */
section,
#social {
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-dark);
    color: var(--text-light);
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para títulos secundários */
h2 {
    color: var(--text-light);
}

/* Estilo para listas e ícones sociais */
ul,
#social ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li,
#social li {
    display: inline-block;
    margin-right: 10px;
    background-color: var(--background-dark);
    color: var(--text-light);
    padding: 5px 10px;
    border-radius: 5px;
}

/* Estilo para links sociais */
#social a {
    color: var(--text-light);
    text-decoration: none;
    font-size: 24px;
}

/* Efeito de destaque ao passar o mouse nos links sociais */
#social a:hover {
    color: var(--accent-color);
}

/* Estilos responsivos para dispositivos com largura máxima de 600px */
@media (max-width: 600px) {
    section,
    #social {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16PX;
        margin-bottom: 25px;;
    }

    #social a {
        font-size: 20px;
    }
}

.content-with-image {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.img-profile {
    margin-left: 5%; 
    width: 100%; 
    max-width: 190px; 
}

.text-apresentation {
    max-width: 100%; 
    margin: 0 5%; 
    text-align: justify;
}

/* Adaptação para telas menores (mobile) */
@media (max-width: 600px) {
    .content-with-image {
        flex-direction: column-reverse; 
        align-items: center;
    }

    .img-profile {
        max-width: 50%;
    }

    .text-apresentation {
        max-width: 100%;
        margin: 0 5%;
        text-align: justify;
    }
}

.text-education {
    font-size: 15px;
    width: 450px;
    margin-right: 20px; 
    text-align: right;
    display: inline-block; 
}

.icon-education {
    margin-left: 5%;
    width: 100%;
    max-width: 30px;
}

.text-about-IA {
    max-width: 100%;
    margin: 0 auto;
    text-align: justify;
}

.icon-size {
    width: 180px;
}

.education-item {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
}

.course-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.title-education {
    margin-right: 5%; /* Porcentagem ou unidade relativa para melhor responsividade */
    text-align: left; /* Centraliza os títulos dentro das seções */
    margin-bottom: 16px; /* Adapte conforme necessário para o espaçamento entre os títulos e o conteúdo */
    font-size: 18px;
}

.title-about-IA {
    text-align: center;
    margin-bottom: 45px;
}

/* Adaptação para títulos e texto responsivos */
@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}

/* Adaptação para seções responsivas */
@media (max-width: 600px) {
    section,
    #social {
        padding: 10px;
    }
}

/* Seção de contatos para Web */
#social {
    text-align: center;
    padding: 20px;
}

.title-contato {
    text-align: center;
    font-size: 24px;
    margin-bottom: 45px;

}

#social ul {
    list-style: none;
    padding: 0;
}

#social ul li {
    display: inline-block;
    margin: 0 10px;
}

.icon-size {
    font-size: 36px;
}

/* Seção contato para mobile */
@media only screen and (max-width: 600px) {
    #social {
        padding: 10px;
    }

    .title-contato {
        font-size: 18px;
        margin-bottom: 20px;
    }

    #social ul li {
        margin: 0 5px; 
    }
    .icon-size {
        font-size: 20px; 
    }
}

/* Rodapé Web */
footer {
    font-size: 14px;
    text-align: center;
    padding: 10px;
    background-color: #090e18d2;
    color: white;
}

/* Rodapé Mobile */
@media only screen and (max-width: 600px) {
    footer {
        font-size: 8px;
        padding: 8px;
    }
}
